*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 10000px;
    width: 100%;
    background-color: black;
    
}


.mainbarra{
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    position: fixed;
    top:0;
    left: 0;
    background-color: black;
    z-index: 99;
    
    

}

.logo{
    height: 100%;
    width: 8%;
    align-items: center;
    position:relative;
    left: 100px;
    background-color:black     ;
    background-image:url(./logo\ god.jpg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: contain;
}


.login{
    height: 50px;
    width: 10%;
    min-width: 10%;
    
    position: relative;
    bottom: 50px;
    left: 80vw;
    display: flex;
    align-items: center;
    justify-content: center
}


.containermenu{
    height: 50px;
    width: 50vw;
    display: flex; 
    justify-content: left;
    position: relative;
    left: 15vw;
}
ul{
    height: 50px;
    width: 50vw;
    display: flex;    
    
    justify-content: space-between;

    
}
.menu{
    height: 30px;
    max-width: 100%;
    position: relative;
    display: flex;
    
    top: 20px;
    box-sizing: border-box;
    

    
}
.whitetext{
    color: white;
}

form{
    height: 200px;
    width: 400px;
    position:absolute;
    top: 200px;
    left: 50px;
    
}
.containerform{
    padding: 20px 20px 20px 40px;
}